body{
    margin:0;
    padding:0;
    background: skyblue;
   
}
div.body{
   
    margin:auto;
    padding: 15px;
    width: 30%;
    position: relative;
    height: 40vh;
}
div.img{
    padding:10px;
   text-align: center;
    margin:auto;
    width: 100%;   
}
img{
border-radius: 50%;
}
div.form{
    margin:auto;
    width: 100%;
    text-align: center; 
    
}
p.footer{
    margin-bottom:5px;
}
input[type="submit"]:hover{
cursor:pointer;
color:wheat;
background:red;
transition:0.5s;

}
input{
    margin: 10px;
    width: 95%;
    height: 30px;
    border:none;
    border-radius: 5px;
    outline: none;
}
form{height: 40vh;
    text-align: center; 
    
}
/*mon menu de navigation*/
nav ul{
    list-style: none;
}
a{  text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-align:center;
    color:skyblue;
    
}
ul li{
    line-height: 2rem;
    text-align:center;
    border-bottom: 1px solid lightgray;
    margin-left: -40px;
}
ul li:hover{
    background-color: skyblue;
    
}
li:hover a{
    color:whitesmoke;
}

div.nav input{
    display: none;   
}


nav{
    background-color: azure;
    width: 100%;
    border-radius: 10px;
    margin:auto; 
}
div.nav label{
    top:0;
    float: right;
    color:white;
    font-size: 2rem;
    visibility: hidden;

}
div.nav span{
    font-weight: bold;
}
nav{
    margin-top: 15px;
    display: none;
}

/*les media query*/
@media screen and (max-width:768px){
    div.body{
        background: skyblue;
        margin:auto;
        padding: 15px;
        width: 100%;
        position: relative;
        height: 50vh;
    }
    div.nav label{
        visibility: visible;
        margin-top: -5px;
        
    }
    div.nav input:checked+nav{
        display: block;
        transition: 5s ease-in;
        margin-top: 30px;
    }
    div.img{
        padding:10px;
       text-align: center;
        margin:auto;
        width: 100%;   
    }
    img{
        border-radius: 50%;
        margin:auto;
        }
        div.form{
            margin:auto;
            width: 100%;
            text-align: center; 
        }
        input{
            margin: 10px;
            width: 90%;
            height: 30px;
            border:none;
            border-radius: 5px;
            outline: none;
        }
}