body
{
    margin:0;
    padding:0;
    background-color: skyblue;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color:green
}
section{
    margin:auto;
    width: 80%;
    height:95vh;
}
section p{
    color:green;
    
    font-size: 1.3rem;
    text-transform: capitalize;
}
p span{
    text-transform: capitalize;
    text-decoration:underline;
    font-size: 1.5rem;
}
/*mon menu de navigation*/
nav ul{
    list-style: none;
}
a{  text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-align:center;
    color:skyblue;
    
}
ul li{
    line-height: 2rem;
    text-align:center;
    border-bottom: 1px solid lightgray;
    margin-left: -40px;
}
ul li:hover{
    background-color: skyblue;
    
}
li:hover a{
    color:whitesmoke;
}

div.nav input{
    display: none;   
}


nav{
    background-color: azure;
    width: 100%;
    border-radius: 10px;
    margin:auto; 
    
}
div.nav span{
    margin:10px 8px;
}
div.nav label{
    top:0;
    float: right;
    color:white;
    font-size: 2rem;
    visibility: hidden;

}
div.nav span{
    font-weight: bold;
}
nav{
    margin-top: 15px;
    display: none;
}

/*les media query*/
@media screen and (max-width:768px){
    div.body{
        background: skyblue;
        margin:auto;
        padding: 15px;
        width: 100%;
        position: relative;
    }
    div.nav label{
        visibility: visible;
        margin-top: -5px;
        
    }
    div.nav input:checked+nav{
        display: block;
        transition: 5s ease-in;
        margin-top: 30px;
    }
    div.img{
        padding:10px;
       text-align: center;
        margin:auto;
        width: 100%;   
    }
    div.img img{
        border-radius: 50%;
        margin:auto;
        }
        div.form{
            margin:auto;
            width: 100%;
            text-align: center; 
        }
        input{
            margin: 10px;
            width: 90%;
            height: 30px;
            border:none;
            border-radius: 5px;
            outline: none;
        }
        /*la page expériences*/
      
       
}
div.img1{
    border:1px solid saddlebrown;
    width: 50%;
    margin:auto;
    justify-content: center;
   
}
div.img1 img{
    border:1px solid black;
   margin:auto;
    width: 80%;
    height:150px;
}